<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href='css\component-chosen.min.css'>
    <title>Listas Dependientes</title>
</head>
<body>
    <script type = "text/javascript" src = 'js\colonias.js' ></script> 
    <script src="js\jquery-3.4.1.min.js" ></script>
    <script src="js\chosen.jquery.js" type="text/javascript"></script>
    
    <div class="form-group">
        <label for="Alcaldia">Alcaldía</label>                                                 
            <select name="Alcaldia" id="Alcaldia"  data-placeholder="- Seleccione Alcaldía -"
             class="form-control chosenAlcaldia" onchange="change(this.id, 'colonia')"
             value="<%= typeof Alcaldia != 'undefined' ? Alcaldia : '' %>">
              <option value=""></option>
              <option value="Álvaro Obregón">Álvaro Obregón</option>
              <option value="Azcapotzalco">Azcapotzalco</option>
              <option value="Benito Juárez">Benito Juárez</option>
              <option value="Coyoacán">Coyoacán</option>
              <option value="Cuajimalpa">Cuajimalpa</option>
              <option value="Cuauhtémoc">Cuauhtémoc</option>
              <option value="Gustavo A. Madero">Gustavo A. Madero</option>
              <option value="Iztacalco">Iztacalco</option>
              <option value="Iztapalapa">Iztapalapa</option>
              <option value="La Magdalena Contreras">La Magdalena Contreras</option>
              <option value="Miguel Hidalgo">Miguel Hidalgo</option>
              <option value="Milpa Alta">Milpa Alta</option>
              <option value="Tláhuac">Tláhuac</option>
              <option value="Tlalpan">Tlalpan</option>
              <option value="Venustiano Carranza">Venustiano Carranza</option>
              <option value="Xochimilco">Xochimilco</option>
            </select>
      </div>
      <div class="form-group">
        <label for="Colonia">Colonia</label>
          <select id="colonia" name="Colonia" data-placeholder="- Seleccione Colonia -"
          class="form-control chosenColonia" value="<%= typeof Colonia != 'undefined' ? Colonia : '' %>" >
            <option value=""></option>
          </select>
      </div>
      
      <script>
        //chosen institución
        $('.chosenAlcaldia, .chosenColonia').chosen({no_results_text: "No hay resultados...",allow_single_deselect: true});
        $(".chosenAlcaldia").chosen().on("change", function(event) { 
                            document.getElementById('colonia').value = "" ;
                            $(".chosenColonia").trigger('chosen:updated');                                                                                                       
                            });
        $(".chosenColonia").chosen().on("chosen:showing_dropdown", function(event) {  
                            $(".chosenColonia").trigger('chosen:updated');                                                                           
                            });
        </script>
    
</body>
</html>